################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ExactReproduction/v16/.suo
/bin/Debug/netcoreapp3.1
/obj
/ExactReproduction.csproj.user
/.vs/ExactReproduction/DesignTimeBuild/.dtbcache.v2
/.vs/ExactReproduction/v16/TestStore/0
